In [1]:
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html

In [3]:
# Importando o pandas
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [3]:
# Abrindo o arquivo csv
df = pd.read_csv("Dados aula 1.csv", encoding = "UTF-8", sep = ";")

In [10]:
# Especificando o cabe√ßalho do arquivo
df = pd.read_csv("Dados aula 1.csv", encoding = "UTF-8", sep = ";", header=0)

In [13]:
# Selecionando somente algumas colunas
df = pd.read_csv("Dados aula 1.csv", encoding = "UTF-8", sep = ";", usecols=["AddressID", "AddressLine1"])

In [15]:
# Lendo X linhas do arquivo
df = pd.read_csv("Dados aula 1.csv", encoding = "UTF-8", sep = ";", usecols=["AddressID", "AddressLine1"], nrows=200)

In [14]:
df.head()

   AddressID          AddressLine1
0          1         1970 Napa Ct.
1          2    9833 Mt. Dias Blv.
2          3  7484 Roundtree Drive
3          4      9539 Glenside Dr
4          5         1226 Shoe St.

In [16]:
df.shape

(200, 2)