In [ ]:
import pandas as pd

df = pd.DataFrame({
    'cliente': ['Ana', 'Bruno', 'Ana', 'Carlos'],
    'valor': [100, 150, 200, 50]
})

In [ ]:
# CSV
df = pd.read_csv('dados.csv')

In [ ]:
df.head()         # primeiras 5 linhas
df.tail()         # últimas 5 linhas
df.info()         # estrutura geral
df.describe()     # estatísticas descritivas

In [ ]:
## Agrupamento de dados
df.groupby('cliente')['valor'].sum().sort_values(ascending=False)
df.groupby('departamento')['salario'].mean() # media de salario por departamento

In [ ]:
## Função MAP: map é usado para aplicar uma função em cada elemento de uma lista
df['valor_com_taxa'] = df['valor'].map(lambda x: x * 1.1)
##  função anônima (lambda) recebe um parametro x e retorna a multiplicação de x por 1.1

In [ ]:
df.drop(columns=['coluna1'], inplace=True) #remove colunas
df.dropna(inplace=True)  # remove linhas com NA

In [ ]:
df['coluna'] = df['coluna'].fillna(0) # remove nullos

In [ ]:
df.drop_duplicates(inplace=True) # remove linhas duplicadas

In [ ]:
# substituir valores dentro da coluna
df['coluna'] = df['coluna'].replace({'velho': 'novo'})

In [ ]:
# agrupamentos com soma ou média
# Soma por cliente
df.groupby('cliente')['valor'].sum()

# Média por categoria
df.groupby('categoria')['vendas'].mean()

In [ ]:
df.sort_values(by='valor', ascending=False) # ordenação

In [ ]:
# merge
df_final = pd.merge(df1, df2, on='id', how='inner')  # tipos: inner, left, right, outer

In [ ]:
# normalização entre 0 e 1
df['salario'] = (df['salario'] - df['salario'].min()) / (df['salario'].max() - df['salario'].min())